<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Les caractéristiques maximales des éléments suivant leur type-->
    <!--NanoCollector-->
    <!--Container Capacity-->
    <add key="NanoCollector_CC" value="20" />
    <!--Collect Transfer Speed-->
    <add key="NanoCollector_CTS" value="5" />
    <!--Scan-->
    <add key="NanoCollector_Scan" value="5" />
    <!--Max damage-->
    <add key="NanoCollector_MD" value="5" />
    <!--Defense Distance-->
    <add key="NanoCollector_DD" value="12" />
    <!--Constitution-->
    <add key="NanoCollector_C" value="50" />
    <!--Max total possible-->
    <add key="NanoCollector_Total" value="50" />
    <!--NanoNeedle-->
    <add key="NanoNeedle_CC" value="100" />
    <add key="NanoNeedle_CTS" value="0" />
    <add key="NanoNeedle_Scan" value="10" />
    <add key="NanoNeedle_MD" value="5" />
    <add key="NanoNeedle_DD" value="10" />
    <add key="NanoNeedle_C" value="150" />
    <add key="NanoNeedle_Total" value="150" />
    <!--NanoExplorer-->
    <add key="NanoExplorer_CC" value="0" />
    <add key="NanoExplorer_CTS" value="0" />
    <add key="NanoExplorer_Scan" value="30" />
    <add key="NanoExplorer_MD" value="0" />
    <add key="NanoExplorer_DD" value="0" />
    <add key="NanoExplorer_C" value="20" />
    <add key="NanoExplorer_Total" value="40" />
    <!--NanoBlocker-->
    <add key="NanoBlocker_CC" value="0" />
    <add key="NanoBlocker_CTS" value="0" />
    <add key="NanoBlocker_Scan" value="10" />
    <add key="NanoBlocker_MD" value="0" />
    <add key="NanoBlocker_DD" value="0" />
    <add key="NanoBlocker_C" value="100" />
    <add key="NanoBlocker_Total" value="90" />
    <!--NEW2007-->
    <!--NanoWall-->
    <add key="NanoWall_CC" value="0" />
    <add key="NanoWall_CTS" value="0" />
    <add key="NanoWall_Scan" value="10" />
    <add key="NanoWall_MD" value="0" />
    <add key="NanoWall_DD" value="0" />
    <add key="NanoWall_C" value="100" />
    <add key="NanoWall_Total" value="90" />
    <!--NanoIPCreator-->
    <add key="NanoIPCreator_CC" value="0" />
    <add key="NanoIPCreator_CTS" value="0" />
    <add key="NanoIPCreator_Scan" value="30" />
    <add key="NanoIPCreator_MD" value="0" />
    <add key="NanoIPCreator_DD" value="0" />
    <add key="NanoIPCreator_C" value="20" />
    <add key="NanoIPCreator_Total" value="40" />
    <!--NanoContainer-->
    <add key="NanoContainer_CC" value="60" />
    <add key="NanoContainer_CTS" value="5" />
    <add key="NanoContainer_Scan" value="0" />
    <add key="NanoContainer_MD" value="0" />
    <add key="NanoContainer_DD" value="0" />
    <add key="NanoContainer_C" value="60" />
    <add key="NanoContainer_Total" value="70" />
    <!--NanoNeuroControler-->
    <add key="NanoNeuroController_CC" value="100" />
    <add key="NanoNeuroController_CTS" value="0" />
    <add key="NanoNeuroController_Scan" value="10" />
    <add key="NanoNeuroController_MD" value="5" />
    <add key="NanoNeuroController_DD" value="10" />
    <add key="NanoNeuroController_C" value="150" />
    <add key="NanoNeuroController_Total" value="150" />
    <!--/NEW-->
    <!--Les données communes-->
    <add key="MaxPlayers" value="2" />
    <add key="DefenseLength" value="4" />
    <add key="BlockerLength" value="6" />
    <add key="TransferingStockDistance" value="9" />
    <add key="ScanLength" value="10" />
    <add key="NumberOfTurnBetweenScan" value="6" />
    <add key="NumberOfTurnBetweenEvent" value="3" />

    <!--good value for round 0: 25-->
    <add key="NbrMaxBots" value="40" />
    <!--good value 10-->
    <add key="NbrMaxWhiteCells" value="40" />


    <add key="NumberOfTurnBySecond" value="5" />

    <add key="PartyLength" value="5" />
    <add key="DefenderName" value="Pierre2007-R0.dll" />
    <!--<add key="DefenderName" value="8a1fff54-2f91-4c1c-9b00-6be58f5bff31.dll" />-->

    <add key="NeedleScore" value="5" />
    <add key="ValidNeedleScore" value="20" />
    <add key="AZNScore" value="2" />
    <add key="Round0MinimalScore" value="300" />
    <add key="BlockerStrength" value="6" />
    <add key="MaxPointsPath" value="400" />
    <add key="Environment" value=""/>
  </appSettings>
</configuration>