body{
	margin:5px;
	padding:0px;
	font-family: Verdana, sans-serif;
	font-size:70%;
}

h1{
	font-size:120%;
	text-align:center;
}

h2{
	font-size:110%;
	padding-left:5px;
	border-left:2px blue dashed;
	border-bottom:2px blue dashed;
}

h3{
	font-size:100%;
	border-bottom:1px black dotted;
}

p#author{
	text-align:right;
	padding:15px
}